body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    text-align: center;
    background-image: linear-gradient(to right, rgba(236, 19, 19, 0.5), rgba(4, 120, 173, 0.5)), url("background.jpg");
}

.body-1{
    width: 100%;
    display: block;
    padding-top: 4rem;
}

h1{
    text-align: center;
    color: white;
}

.color-1,
.color-2 {
    margin: 0 40%;
    display:inline;
    
}

