.navigation {
    position: absolute;
    top: 0;
    z-index: 10;
    background-color:rgba($color-primary, .3);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    right: 10rem;
    left: 10rem;


    &__nav {

    }
   
    &__list {
        height: 8rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      
    }

    &__item {
        list-style: none;
        margin-right: 2rem;
    }

    &__link{
        text-transform: uppercase;
        &:link, 
        &:visited {
            font-size: $default-font-size;
              color:$color-white;
              display: inline-block;
              text-decoration: none;
              border-bottom: 1px solid $color-primary;
              padding: 3px;
              transition: all .2s;
      
        }
      
        &:hover{
              background-color: $color-primary;
              color: $color-white;
              box-shadow: 0 1rem 2rem rgba($color-black, .25);
              transform: translateY(-2px) scale(1);
        }
        &:active{
          box-shadow: 0 .5rem 1rem rgba($color-black, .25);
          transform: translateY(0px);
        }
    }
}
