
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //this defines what 1rem is
    font-size: 65.5%;
}

body {
    
    box-sizing: border-box;
    position: relative;
    padding: 0 10rem 2rem;
    
}