// colors
$color-primary:#f7941d;
$color-primary-light: #f7af58;
$color-primary-dark:#ca7107;

$color-secondary:#0066b3;
$color-secondary-light:#009bd2;
$color-secondary-dark:#064676;

$color-white: #fff;
$color-grey: #777;
$color-grey-1: #e1e1e1;
$color-grey-2: #f2f2f2;
$color-dark: #333;
$color-dark-2: #232222;
$color-black: #000;

 $color-media: #fef7ed;
 $color-about: #f1f4f6;
$color-media-red:#f91111;

 //font 
 $default-font-size: 1.6rem;


 // grid
 $grid-width: 114rem;
 $gutter-vertical: 8rem;
 $gutter-horizontal-small: 2rem;
 $gutter-horizontal-small-1: 1.9rem;
 $gutter-horizontal: 6rem;